/******引入字体***********/

@font-face {
    font-family: "SourceHanSerifSC-Medium";
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/mstzf/mycdn@1.0.1/font/SourceHanSerifCN-Medium-6.otf') format("truetype");
  }
  /**********字体over*******/

  /*********阿里云图标*********/
  @font-face {
    font-family: "iconfont"; /* Project id 3833199 */
    src: url('//at.alicdn.com/t/c/font_3833199_iy24ays8flq.woff2?t=1742633280783') format('woff2'),
         url('//at.alicdn.com/t/c/font_3833199_iy24ays8flq.woff?t=1742633280783') format('woff'),
         url('//at.alicdn.com/t/c/font_3833199_iy24ays8flq.ttf?t=1742633280783') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-icons01:before {
    content: "\e698";
  }
  
  .icon-shejiaotubiao-46:before {
    content: "\e64b";
  }
  
  .icon-weibo:before {
    content: "\e6b2";
  }
  
  .icon-weixin:before {
    content: "\e6b3";
  }
  
  .icon-QQ:before {
    content: "\e882";
  }
  
  .icon-email:before {
    content: "\e653";
  }
  
  .icon-github:before {
    content: "\e689";
  }
  
  .icon-dongtai1:before {
    content: "\e611";
  }
  
  .icon-dilanxianxingiconyihuifu_huabanfuben:before {
    content: "\e603";
  }
  
  .icon-16:before {
    content: "\e61e";
  }
  
  .icon-wenzhangfenlei:before {
    content: "\e6c6";
  }
  
  .icon-icon_guidang_2:before {
    content: "\e64d";
  }
  
  .icon-biaoqian:before {
    content: "\e62b";
  }
  
  .icon-dongtai:before {
    content: "\e64f";
  }
  
  .icon-youqinglianjie:before {
    content: "\e636";
  }
  
  .icon-liuyan:before {
    content: "\e606";
  }
  
  .icon-shouye-shouye:before {
    content: "\e608";
  }
  
  .icon-sousuo1:before {
    content: "\e6c7";
  }
  
  .icon-guanyu:before {
    content: "\e652";
  }
  
  .icon-sousuo:before {
    content: "\e618";
  }
  
  .icon-shouye:before {
    content: "\100a6";
  }
  
  
  
  /*********阿里云图标over***************/